@font-face {
  font-family: font;
  src: url(./moderna-serif.extrabold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: font;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: #f9f9f7;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   gap: 2rem;
  padding: 2rem;
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    // background-color: red;
    background-image: url(https://images.unsplash.com/photo-1495707303799-07aa5b33494c?q=80&w=1174&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    .container {
      background-color: white;
      width: 20%;
      // height: 50%;
      padding: 15px;
      border-radius: 1.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      img {
        width: 100%;
        border-radius: 1.5rem;
        object-fit: cover;
        object-position: center;
        //   padding: 5px;
        position: relative;
      }
      .icon {
        background-color: rgba(146, 135, 135, 0.375);
        backdrop-filter: blur(15px);
        position: absolute;
        color: white;
        width: 2%;
        height: 5%;
        border-radius: 50%;
        padding: 0.5rem;
        margin-top: -10%;
        margin-left: 14%;
      }
      .content {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        // justify-content: space-between;
        padding: 5px 0;
        h2 {
          font-size: 1.5rem;
          color: #000;
          padding: 5px;
          white-space: nowrap;
        }
        i {
          color: rgb(7, 7, 244);
          font-size: 1.5rem;
          padding: 5px 0;
        }
      }
      p {
        padding: 10px 5px;
      }
      .session {
        width: 100%;
        height: fit-content;
        // background-color: green;
        display: flex;
        justify-content: space-around;
        padding: 5px 10px;

        .rating {
          // border-right: 0.1em solid gray;
          font-size: 1rem;
          i {
            color: rgb(255, 170, 0);
          }
          h6 {
            color: gray;
            margin-top: 5px;
            font-size: 1rem;
          }
        }
        .earned {
          font-size: 1rem;
          i {
            color: rgb(255, 170, 0);
          }
          h6 {
            color: gray;
            margin-top: 5px;
            font-size: 1rem;
          }
        }
        .rate {
          // border-right: 0.1em solid gray;
          font-size: 1rem;
          i {
            color: rgb(255, 170, 0);
          }
          h6 {
            color: gray;
            margin-top: 5px;
            font-size: 1rem;
          }
        }
      }
      .btn {
        border-radius: 50px;
        padding: 20px 10px;
        margin: 10px 0;
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        cursor: pointer;
        i {
          font-size: 1.5rem;
        }
        h6 {
          font-size: 1.2rem;
        }
      }
    }
  }
}
