@font-face {
  font-family: user;
  src: url(./prevalent-sans-pro.extrabold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: user;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: #f9f9f7;
  padding: 2rem;
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    // background-color: red;
    background-image: url(https://images.unsplash.com/photo-1545529468-898f2550a832?q=80&w=1259&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    .container {
      background-color: #f9f9f7;
      width: 20%;
      // height: 50%;
      padding: 15px;
      border-radius: 1.5rem;
      // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      img {
        width: 100%;
        border-radius: 1.5rem;
        object-fit: cover;
        object-position: center;
        //   padding: 5px;
        position: relative;
      }
      .icon {
        background-color: rgba(119, 118, 118, 0.375);
        backdrop-filter: blur(15px);
        position: absolute;
        color: white;
        width: 2%;
        height: 5%;
        border-radius: 50px;
        padding: 0.5rem;
        margin-top: -10%;
        margin-left: 14%;
      }
      .content {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        // justify-content: space-between;
        padding: 5px 0;
        h2 {
          font-size: 1.5rem;
          color: #000;
          padding: 5px;
          font-family: user;
          white-space: nowrap;
        }
        i {
          color: rgb(7, 7, 244);
          font-size: 1.5rem;
          padding: 5px 0;
        }
      }
      p {
        padding: 0.5rem 0.3rem;
        color: #333;
      }
      .session {
        width: 100%;
        height: fit-content;
        // background-color: green;
        display: flex;
        justify-content: space-around;
        padding: 5px 10px;

        .rating {
          // border-right: 0.1em solid gray;
          font-size: 1rem;
          i {
            color: rgb(235, 158, 3);
          }
          h6 {
            color: gray;
            margin-top: 5px;
            font-size: 1rem;
          }
        }
        .earned {
          font-size: 1rem;

          h6 {
            color: gray;
            margin-top: 5px;
            font-size: 1rem;
          }
        }
        .rate {
          // border-right: 0.1em solid gray;
          font-size: 1rem;

          h6 {
            color: gray;
            margin-top: 5px;
            font-size: 1rem;
          }
        }
      }
      .btn {
        border-radius: 50px;
        padding: 20px 10px;
        margin: 10px 0;
        width: 100%;
        background-color: black;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        cursor: pointer;
        i {
          font-size: 1.5rem;
          color: white;
        }
        h6 {
          font-size: 1.2rem;
          color: white;
        }
      }
    }
  }
}
